/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);
#col_left{
    border-left: 2px dashed  #66ff33;
}
#col_center{
    border-left: 2px dashed  #66ff33;
}
#col_right{
    border-left: 2px dashed  #66ff33;
}



#footer_wrap {
    background: #212121;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
    body {
        font-size:14px;
    }

    #downloads {
        display: none;
    }

    .inner {
        min-width: 320px;
        max-width: 480px;
    }

    #project_title {
        font-size: 32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    code, pre {
        min-width: 320px;
        max-width: 480px;
        font-size: 11px;
    }

}
